/* .container {
    background-color: #ffffff;
    position: relative;
    top: 5%;
    width: 90vw;
    height: 80vh;
} */

.container {
    width: 75%;
    height: 60%;
    border-radius: 3rem;
    box-shadow:.8rem .8rem 1.4rem #bbc3d8, 
              -.2rem -.2rem 1.8rem #ffffff;
    padding: 4rem;
    /* display: grid;
    grid-template-columns: 17.6rem 19rem 20.4rem;
    grid-template-rows: repeat(autofit, min-content);
    grid-column-gap: 5rem;
    grid-row-gap: 2.5rem;
    align-items: center; */
}

.btn {
    position: relative;
    height: 10%;
    width: 50%;
    transition: .3s ease;
    background: #f3f0f1;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -5px -5px 20px #ffffff,  5px 5px 20px #BABECC;
}
/* .btn:focus {
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #ffffff;
} */
.btn:hover {
    box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px #BABECC;
}
.btn:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #ffffff;
}

.scrollbarRow {
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.blockScreenMiniPhoto {
    width: 28%;
    margin: 20px;
    /* background: #f2f2f2c2; */
    /* padding: 15px 15px; */
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-overflow: ellipsis; 
    box-shadow: -2px -6px 15px #fff, 2px 6px 15px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    position: relative;
    height: 70%;
    width: 100%;
    /* padding-right: 10px;      */
    object-fit: cover;
    border-radius: 15px;
}

.description {
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    width: 90%;
    color:  #393e4b;
    text-align: justify;
    height: 10%;
    /* display: block; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px;
}
/* .description:after {
    content:'...';
    position:relative;
} */

@media screen and (max-width: 1854px) {
    .blockScreenMiniPhoto {
        width: 40%;
    }
}
@media screen and (max-width: 994px) {
    .blockScreenMiniPhoto {
        width: 90%;
    }
}

.modal {
    font-size: 12px;
    background-color: white;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    margin: auto;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }