.App {
  height: 100vh;
  width: 100vw;
  background-color:#E4EBF5;
  color: #dbfff2;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Poppins',sans-serif;
  font-size: 48px;
  display: flex;
  flex-direction: row;
  color: #bbc3d8;
  text-shadow: 
  -8px -8px 12px rgba(255,255,255,0.4),
  8px 8px 12px rgba(0,0,0,0.08);
  caret-color:#262626;
  outline: none;
}
.logoPhotoColor {
  color:  #8793b3;
  padding-left: 10px;
}